# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Vim swap files
*.swp

# separate Git repo for a good C++ Raspberry Pi Camera API:
# https://github.com/cedricve/raspicam
raspicam/

# images left over from running python scripts
hdr/*.jpg
